<!-- <p-toast *ngIf="toastMsg" [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"></p-toast> -->
<header class="p-0">
    <nav class="navbar navbar-expand-lg p-0">
        <div class="container-fluid header">
            <div class="">
                <h5><span class="text-white"></span> <span class="text-white"> MVC Demo</span> </h5>
                
            </div>
            <div class="">
                <ul class="navbar-nav dropdown-navbar-nav ms-auto">
                    
                    <!-- <li class="nav-item dropdown user-dd">
                        <a class="" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" class="text-decoration-none"
                            aria-expanded="false">
                            <img class="profileImg bg-white" [src]="user.profileImg && user.profileImg!='null' ? user.profileImg : 'https://www.w3schools.com/howto/img_avatar.png'"/>
                            <div class="user-img text-white font-weight-bold">Logout</div>
                            <span class="profile-name text-white ms-2 mt-2">{{user.name}} </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end header-dropdown-menu"
                            aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/profile"><i
                                        class="las la-user-circle f-green"></i>
                                    Profile</a>
                            </li>
                            <li><a class="dropdown-item" (click)="logout()"><i
                                        class="las la-sign-out-alt f-red"></i>
                                    Logout</a>
                            </li>
                        </ul>
                    </li> -->

                </ul>
            </div>

        </div>
    </nav>
</header>
