SELECT * FROM SKILL ORDER BY CreatedAt

SELECT * FROM JOBS ORDER BY CreatedAt
SELECT * FROM JOBSKILLS ORDER BY CreatedAt

SELECT * FROM EMPLOYEE ORDER BY CreatedAt
SELECT * FROM EMPLOYEESKILLS ORDER BY CreatedAt


