<div class="sidemenu menu pt-4">
    <ul class="nav flex-column flex-nowrap overflow-hidden">
        <li  class="nav-item">
            <a  href="/skill" class="nav-link text-truncate main-menu" 
                > <span class="d-none d-sm-inline icon"> Skill  </span></a>
        </li>
        <li  class="nav-item">
            <a  href="/job" class="nav-link text-truncate main-menu" 
                > <span class="d-none d-sm-inline icon"> Job  </span></a>
        </li>
        <li  class="nav-item">
            <a  href="/employee" class="nav-link text-truncate main-menu" 
                > <span class="d-none d-sm-inline icon"> Employee </span></a>
        </li>

    </ul>


</div>
<div class="d-none mobile-sidebar-backdrop"></div>