<app-header></app-header>
<div class="main">
    <app-sidebar class="side-content"></app-sidebar>
    <div class="d-none mobile-sidebar-backdrop"></div>
    <div class="main-content ps-4 pt-3">
        <div class="card-header d-flex justify-content-between me-3 pb-2 mb-3 border-bottom">
            <span>Skills List</span>
            <button class="btn btn-basic text-primary p-1" data-bs-toggle="modal" data-bs-target="#add" (click)="onAddClick()">
                <i class="las la-plus-circle me-1"></i>Add
            </button>
        </div>

        <div *ngIf="isPageAlert" class="alert text-center main-content m-auto mb-2"  [ngClass]="isPageSuccess? 'alert-success' : 'alert-danger'" role="alert">
            {{alertPageTxt}}
        </div>

        <p-table #myTab [value]="tableData" showGridlines="true" [scrollable]="true" scrollHeight="400px" 
        [paginator]="paginator" 
        [rows]="10" [globalFilterFields]="['name']" 
            [columns]="cols" styleClass="p-datatable-gridlines" [resizableColumns]="true" [autoLayout]="true">
            <ng-template pTemplate="caption">
                <div style="text-align: right">
                    
                    <input 
                        type="text" 
                        pInputText 
                        placeholder="Search"
                        (input)=
        "myTab.filterGlobal($any($event.target).value, 'contains')" 
                        style="width:auto" 
                    />
                    <i 
                        class="pi pi-search" 
                        style="margin:4px 10px">
                    </i>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        S.No.
                    </th>
                    <th [pSortableColumn]="'name'"><p-sortIcon [field]="'name'"></p-sortIcon>
                        Skill Name
                        <p-columnFilter type="text" field="name" display="menu" [showAddButton]="false" class="p-ml-auto"></p-columnFilter>

                    </th>
                    
                    <th>Actions</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                    <td>
                        {{rowIndex +1}}
                    </td>
                    <td>
                        {{ data.name }}
                    </td>
                    <td>
                        <a class="p-1" href="javascript:void(0);" title="Edit"
                            data-bs-toggle="modal" data-bs-target="#edit" (click)="onEdit(data)"><i
                                class="las la-pen"></i></a>
                        <a class="p-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#view" title="View"
                            (click)="onView(data)"><i class="las la-eye"></i></a>
                        <a class="p-1" href="javascript:void(0);" data-bs-toggle="modal"
                            data-bs-target="#delete" title="Delete" (click)="onDelete(data)"><i
                                class="las la-trash"></i></a>
                       
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <div class="modal fade" id="add" tabindex="-1" aria-labelledby="add" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add</h5>
                        <button type="button" #closeAddPop class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div *ngIf="isAlert" class="alert alert-danger" role="alert">
                            {{alertTxt}}
                        </div>
                        <form [ngClass]="submitted? 'was-validated' : ''" [formGroup]="form" (submit)="onAddSubmit()">
                            <div class="form-group">
                                <div class="form-floating mb-3">

                                    <input type="text" class="form-control w-100" formControlName="name" id="name"
                                        placeholder="Enter Name" required>
                                        <label class="text-muted mb-1" for="name">Name<span class="text-danger">*</span></label>
                                        <div class="invalid-feedback">
                                            Please enter a name.
                                          </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <textarea type="text" class="form-control w-100" style="height: 100px;" formControlName="description" id="description"
                                    placeholder="Enter Description" required rows="4" cols="50"></textarea>
                                        <label class="text-muted mb-1" for="description">Description<span class="text-danger">*</span></label>
                                        <div class="invalid-feedback">
                                            Please enter a description.
                                          </div>
                                </div>

                            </div>

                            <div style="text-align: end;">
                                <button [disabled]="loading" class="btn btn-primary">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                                    Save
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="dataShow" class="modal fade" id="edit" tabindex="-1" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                        <button type="button" #closeEditPop class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div *ngIf="isAlert" class="alert alert-danger" role="alert">
                            {{alertTxt}}
                        </div>
                        <form [ngClass]="submitted? 'was-validated' : ''" [formGroup]="editForm" (submit)="onEditSubmit()">
                            <div class="form-group">

                                <div class="mb-3" hidden>
                                    <input type="text" formControlName="id" id="id"
                                        [(ngModel)]="dataShow.id" required>

                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control w-100" formControlName="name" id="name"
                                        [(ngModel)]="dataShow.name" placeholder="Enter Name" required>
                                        <label class="text-muted mb-1" for="name">Name<span class="text-danger">*</span></label>
                                        <div class="invalid-feedback">
                                            Please enter a name.
                                          </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <textarea type="text" class="form-control w-100" style="height: 100px;" formControlName="description" id="description"
                                    placeholder="Enter Description" [(ngModel)]="dataShow.description" required rows="4" cols="50"></textarea>
                                        <label class="text-muted mb-1" for="description">Description<span class="text-danger">*</span></label>
                                        <div class="invalid-feedback">
                                            Please enter a description.
                                          </div>
                                </div>

                            </div>

                            <div style="text-align: end;">
                                <button [disabled]="loading" class="btn btn-primary">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                                    Update
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="dataShow" class="modal fade" id="view" tabindex="-1" aria-labelledby="view" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">View</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form [formGroup]="editForm">
                            <div class="form-group">

                                <div class="mb-3" hidden>
                                    <input type="text" formControlName="id" id="id"
                                        [(ngModel)]="dataShow.id" [readonly]="true" required>

                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control w-100" formControlName="name" id="name"
                                        [(ngModel)]="dataShow.name" [readonly]="true" placeholder="Enter Name"
                                        required>
                                        <label class="text-muted mb-1" for="name">Name</label>

                                </div>
                                <div class="form-floating mb-3">
                                    <textarea type="text" class="form-control w-100" style="height: 100px;" formControlName="description" id="description"
                                    placeholder="Enter Description" [readonly]="true" [(ngModel)]="dataShow.description" required rows="4" cols="50"></textarea>
                                    <label class="text-muted mb-1" for="description">Description</label>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header del-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                        <button type="button"  class="btn btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body pt-4 pb-4">
                        <p class="text-center mb-0"><b>Are you sure want to delete?</b></p>
                    </div>
                    <div class="modal-footer border-top">
                        <button type="button" class="btn bg-blue" data-bs-dismiss="modal">
                            No
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            (click)="delete(actionColumn)">
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>